body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
    
}

.background-color {
    background-color: grey;
}

.container {
    margin: 30px;
    background-color: lightcoral;
    padding: 25px;
    color: white;
    font-size: 23px;
    border: solid 2px purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#header-container {
    margin: 30px;
    background-color: grey;
    padding: 25px;
    color: white;
    font-size: 23px;
    border: solid 5px purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title-header {
    color: lightgoldenrodyellow;
}

#footer {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    text-align: center;
}

article {
    padding-left: 30px;
}